{% extends "base.html" %}

{% block content %}
<h3>Introduction</h3>

<p>

Your account is now active and ready to use.

</p>

{% endblock %}

{% block sidebar %}
<h4>About us</h4>
<p>A little bit of information about your website, what you do, what's on offer and why visitors should stick around</p>

<h4>Links</h4>
<ul>
	<li><a href="http://www.spyka.net" title="spyka Webmaster resources">spyka webmaster</a></li>
</ul>
<h4>Search</h4>
{% endblock %}

<div class="footer">
	<p><a href="http://validator.w3.org/check/referer" title="valid XHTML">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="valid CSS">CSS</a> &nbsp;&nbsp; &copy; YourWebsiteName. Design: <a href="http://www.spyka.net">spyka webmaster</a> | <a href="http://www.justfreetemplates.com">Free Web Templates</a></p> 
</div>
			</div>
		</div>
	</div>
</div>
