{% extends 'base.html' %}
{% load i18n pagination_tags %}

{% block content %}
<h2>{% trans 'Search' %}</h2>

<form method="get" action=".">
	<table>
		{{ form.as_table }}
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="{% trans 'Search' %}">
			</td>
		</tr>
	</table>
</form>
<p>
{% if query %}
	<h3>{% trans "Results" %}</h3><br/>
	{% autopaginate results 10 %}
	{% paginate %}
	{% for result in results %}
		<p>
		<a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
		</p>
		{% empty %}
		<p>{% trans 'No results found.' %}</p>
	{% endfor %}
	{% paginate %}
{% endif %}
</p>
{% endblock %}
